.App {
  height: 100vh;
}

.contact-list-wrapper {
  margin: 10px 0;
}

.btn-modal-a {
  background-color: #46139f !important;
}

.btn-modal-b {
  background-color: #ff7f50 !important;
}

.btn-modal-c {
  background-color: #fff !important;
  border-color: #46139f !important;
  color: #46139f !important;
}
